body {
  background: #fff;
  font-family: font-family:'Helvetica Neue', Helvetica, Arial, sans-serif;
}
h4 {
  font-size: 25px;
}

/* Navbar Styles */
.navbar {
  min-height: 55px;
}
.navbar-default {
  background-color: #149290;
  border-color: #e7e7e7;
}
.navbar-default .navbar-brand {
  color: #fff;
}
.navbar-brand>img {
  margin: -9px 0 0 -8px;
  height: 148%;
}
.navbar-default .navbar-nav>li>a {
  color: #fff;
}
#modal {
  margin: 5px 0px 9px 10px;
  background-color: #26b0d7;
  border-color: #26b0d7;
}

/* Wrapper Style */
.wrapper {
  position: relative;
}

/* Board Number Input and Button Styles */
input #boardInput {
  margin-right: 20px;
  width: 100px;
}
.space {
  margin-left: 9px;
}
.board {
  margin: 15px -156px;
  position: absolute;
  top: 50%;
  left: 50%;
}
.join {
  margin: 10px;
}

/* Board Game Styles */
#x {
  margin-top: 125px;
  position: absolute;
  top: 50%;
  left: 50%;
}
table {
  margin: -28px 0 0 -170px;
}
.field {
  background: #e9eaec;
  width: 100px;
  height: 100px;
  font-size: 72px;
  text-align: center;
  margin: 5px;
}

/* New and Delete Game Button Styles */
.bottom {
  margin: 441px -163px;
  position: absolute;
  top: 50%;
  left: 50%;
}
#buttonNew {
  margin-right: 109px;
}
.btn-danger {
  background-color: #e84d3d;
  border-color: #e84d3d;
}
@media screen and (min-width:420px) {
  .navbar-brand>img {
    margin: -9px 0 0 -5px;
    height: 224%;
  }
  #modal {
    margin: 15px 20px 0 0;
  }
}