body {
  background: #fff;
  font-family: font-family:'Helvetica Neue', Helvetica, Arial, sans-serif;
}
.navbar {
  min-height: 55px;
}
.navbar-default {
  background-color: #149290;
  border-color: #e7e7e7;
}
.navbar-default .navbar-brand {
  color: #fff;
}
.navbar-brand>img {
  margin: -9px 0 0 -8px;
  height: 148%;
}
.navbar-default .navbar-nav>li>a {
  color: #fff;
}
.field {
  background: #e9eaec;
  width: 100px;
  height: 100px;
  font-size: 72px;
  text-align: center;
  margin: 5px;
}
.wrapper {
  position: relative;
}
#x {

  /*   position: relative;*/
  margin-top: 125px;
  position: absolute;
  top: 50%;
  left: 50%;
}

input #boardInput {
  margin-right: 20px;
  width: 100px;
}
.space {
  margin-left: 9px;
}

.board {
  margin: 15px -156px;
  position: absolute;
  top: 50%;
  left: 50%;
}
.join {
  margin: 10px;
}
.bottom {
  margin: 441px -163px;
  position: absolute;
  top: 50%;
  left: 50%;
}
#buttonNew {
  margin-right: 109px;
}

.btn-danger {
  background-color: #e84d3d;
  border-color: #e84d3d;
}
.btn-xs {
/*    padding: 2px 5px;
    font-size: 12px;
    line-height: 1.5;*/
    /*border-radius: 11px;*/
}

.btn {
/*  border-radius: 20px;*/
}
table {

  /*  position: absolute;
  top: 50%;
  left: 50%;*/
  margin: -28px 0 0 -170px;
}

@media screen and (min-width: 420px) {

.navbar-brand>img {
  margin: -9px 0 0 -5px;
 height: 224%;
}

}